<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1025745275939-6pf1of6itrk0k69s0pneu2a9jovral21.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1025745275939-6pf1of6itrk0k69s0pneu2a9jovral21</string>
	<key>API_KEY</key>
	<string>AIzaSyDrrzipodY7G9vw0Je6gsAFoHVsE1NtjFc</string>
	<key>GCM_SENDER_ID</key>
	<string>1025745275939</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.letApiFlutter</string>
	<key>PROJECT_ID</key>
	<string>let-api-flutter</string>
	<key>STORAGE_BUCKET</key>
	<string>let-api-flutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1025745275939:ios:af5d16dd01bfb31f51b596</string>
</dict>
</plist>